# Global
IMAGES_DESCRIPTORS="/path/to/megaloc_descriptors.npz"
MEGALOC_WEIGHTS_PATH="/path/to/model.safetensors"
IMG_SIZE=322

# Reconstruction
IMAGES_FOLDER="/path/to/video_frames/"
COLMAP_PROJECT="/path/to/workspace"
VOCAB_TREE_PATH="/path/to/workspace/vocab_tree_flickr100K_words256K.bin"
TEST_IMAGES_FOLDER="/path/to/test-images"

# Real Time localization

SIMULATION_VIDEO_PATH="/path/to/test_video.mp4"
COLMAP_DEMO_PROJECT="/path/to/colmap_model/"
MARKER_MODEL_PATH="/path/to/buste.glb"
POINTS_OF_INTEREST_PATH="/path/to/points_of_interest.json"
CAPTURE_FPS=10
INITIAL_LOCALIZATION_TIME_SECONDS=7.0
COLMAP_TO_REAL_WORLD_SCALE=6.0
# (5km/h = 1.4 m/s) but x2 to be large
MAX_WALKING_SPEED_PER_SECONDS=2.8
LOCALIZATION_WINDOW_SIZE_SECONDS=2.0
KALMAN_POSITION_MEASUREMENT_NOISE_STD=0.3
KALMAN_WALKING_ACCELERATION_NOISE_STD=0.5
